.fondoHistoria{
    background-color: #3980bf;
}
.contenedorTotalHistoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.contenedorSeccion{
    padding: 2rem;
    transform: translateY(-20px);
}
.imgHistoria{
    width: 100%;
    height: 60vh;
}
.imgMision{
    border-radius: 25px 0 0 25px;
}
.numeroSeccion{
    font-size: 5rem;
    position: absolute;
    transform: translateY(-110px);
    color: rgba(0, 0, 0, 0.151);
}
.tituloSection{
    font-size: 3rem;
    margin-bottom: 0;
    color: #fff;
    position: relative;
}
.parrafoSeccion{
    font-size: 1.2rem;
    margin: 0 2rem;
    color: rgb(215, 215, 215);
}
.listaValores{
    list-style: none;
}
.listaValores li{
    color: rgb(215, 215, 215);
    font-size: 1.2rem;
    text-decoration: none;
}
